services:
	functionMappingService:
		class: ErikGaal\PhpstanPslRule\FunctionMappingService

	pslSuggestionsExtension:
		class: ErikGaal\PhpstanPslRule\PslSuggestionsExtension
		arguments:
			- @functionMappingService
		tags:
			- phpstan.restrictedFunctionUsageExtension
